<%- include ./partials/header.ejs %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-md-auto mr-md-auto" style="margin-top:50px">

        <% if (action === 'save')  { %>
          <form action="/casts/add" method="post">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="first_name" class="col-form-label">First Name</label>
                <input type="text" name="first_name" class="form-control" id="first_name" placeholder="e.g: John">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="last_name" class="col-form-label">Last Name</label>
                <input type="text" name="last_name" class="form-control" id="last_name" placeholder="e.g: Doe">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="birth_year" class="col-form-label">Birth Year</label>
                <input type="text" name="birth_year" class="form-control" id="birth_year" placeholder="1972">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="gender" class="col-form-label">Gender</label>
                <select name="gender" class="form-control">
                  <% let genders = ['','male', 'female']
                       genders.forEach(gender => {
                  %>
                      <option value="<%= gender %>"><%= gender %></option>
                  <% }) %>
                </select>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-danger" href="/casts">Cancel</a>
        <% } else if (action === 'update') { %>
          <form action="/casts/edit/<%= cast.id %>" method="post">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="first_name" class="col-form-label">First Name</label>
                <input type="text" name="first_name" class="form-control" id="first_name" value="<%= cast.first_name %>" placeholder="e.g: John">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="last_name" class="col-form-label">Last Name</label>
                <input type="text" name="last_name" class="form-control" id="last_name" value="<%= cast.last_name %>" placeholder="e.g: Doe">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="birth_year" class="col-form-label">Birth Year</label>
                <input type="text" name="birth_year" class="form-control" id="birth_year" value="<%= cast.birth_year %>" placeholder="1972">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="gender" class="col-form-label">Gender</label>
                <select name="gender" class="form-control">
                  <% let genders = ['','male', 'female']
                       genders.forEach(gender => {
                       if(gender === cast.gender) {
                  %>
                      <option value="<%= gender %>" selected><%= gender %></option>
                  <% } else { %>
                      <option value="<%= gender %>"><%= gender %></option>
                  <% }}) %>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-danger" href="/casts">Cancel</a>
        <% } %>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include ./partials/footer.ejs %>
