<%- include ./partials/header.ejs %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-md-auto mr-md-auto" style="margin-top:50px">
        <% if(err) { %>
          <div class="alert alert-danger" role="alert">
            <%= err %>
          </div>
        <% } %>
        <div class="alert alert-dark" role="alert" style="margin-bottom:100px">
          <h3><%= movie.name %></h3>
        </div>
     </div>
     <form action="/movies/<%= movie.id %>/addCast" method="post">
       <h3>Add Cast: </h3>
       <div class="form-row">
         <div class="form-group col-md-12">
           <label>Actor: </label>
           <select name="CastId" class="form-control">
             <% dataCasts.forEach(cast => { %>
               <option value="<%= cast.id %>"><%= cast.getFullname() %></option>
             <% }) %>
           </select>
        </div>
        <div class="form-group col-md-12">
           <label>Role: </label>
           <input type="text" name="role" placeholder="e.g: Pemeran Utama Wanita" size="35" class="form-control"><br><br>
        </div>
       </div>
       <button type="submit" class="btn btn-primary">Save</button>
       <a class="btn btn-danger" href="/movies">Cancel</a>
     </form>
  </div>
</section>

<%- include ./partials/footer.ejs %>
